.navItem{
    list-style: none;
    border-bottom: 2px solid #e08d66; 
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    >a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 21px;
        color: rgb(36, 120, 194);
        word-spacing: 5px;
    }
    &:hover{
        >a{
            color: #e08d66;
            transition: all ease .5s;
        }
        >span{
            border-color: #e08d66;
            transition: all ease .5s;
        }
    }
}

.navArrow{
    height: 1rem;
    width: 1rem;
    border: 2px solid rgb(36, 120, 194);
    transform: rotate(45deg) scale(0.835) skew(-12deg, -12deg);
    border-left: none;
    border-bottom: none;
}